@use "./s.button.variables" as *;

@mixin set-button-layout() {
  background-color: $color-button-background;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  border: 1px solid transparent;
  transition: all ease 200ms;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 40px;
}
